.certifications-section{
    padding:80px 10%;
    background: #b57edc;
    text-align:center;
}

.certifications-section h2{
    font-size:38px;
    margin-bottom:40px;
}

.certifications-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.certificate-card{
    background:#0f0c1b;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:.3s;
}

.certificate-card:hover{
    transform:translateY(-8px);
}

.certificate-card h3{
    color:#f0edfa;
    margin-bottom:10px;
}

.certificate-card p{
    color:#fff9f9;
}